<form action="/category_update/<%= @category.id %>" method="post">

  카테고리 제목: <input type="text" name="title" value="<%= @category.title %>"/>
  <input type="submit" value="수정하기" />

</form>
<hr>

<a href="/">뒤로가기</a>